#app {
    font-family: 'Montserrat', sans-serif;
}

.router-link-exact-active {
    font-weight: bold;
}
.btn-success {
    background-color: #4EB883;
}
.bg-success {
    background-color: #4EB883;
}
.card-product {
    border-radius: 15px;
}
.card-img-top{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.breadcrumb-item.active {
    font-weight: bold;
    color:black;
}

.cardimg {
    max-height: 180px;
}
/* .bg {
    background: url(../logo.png) no-repeat;
    width: 50%;
    height: 100vh;
    background-size: 100%;
    
} */
.form-container {
    background-color: #fff;
    padding: 30px;
    position: absolute;
    top:15vh;
}

@media screen and (max-width:768px) {
    .mainpic {
        width:100%;
        /* transform: translateX(-3%); */
    }
    
    
}